<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h2>Transaction List</h2>
    <ul>
        <% transactions.forEach(function(t) { %>
            <li>
                <li>Type: <%= t.type %> </li>
                <li>From: <%= t.fromUser.name %> </li>
                <li>To: <%= t.toUser.name %> </li>
                <li>BTC: <%= t.crypto.BTC %> </li>
                <li>ETH: <%= t.crypto.ETH %> </li>
                <li>DOGE: <%= t.crypto.DOGE %> </li>
                <li>XRP: <%= t.crypto.XRP %> </li>
                <li>Date: <%= t.createdAt.toLocaleString() %> </li>
            </li>
            
        <% }) %>
    </ul>
    <a href="/main">Back to Main Page</a>

</body>
</html>